@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #000000;
  --secondary: #fff;
  --accent: #ed1d24;

  --hero: 9.31rem;
  --hero-sm: 7.45rem;
  --title-xl: 5.96rem;
  --title-lg: 4.77rem;
  --title: 3.815rem;
  --fs-xxxxl: 3.052rem;
  --fs-xxxl: 2.441rem;
  --fs-xxl: 1.953rem;
  --fs-xl: 1.563rem;
  --fs-lg: 1.25rem;
  --fs-md: 1rem;
}

body {
  margin: 0;
  background-color: var(--primary);
  text-rendering: optimizeLegibility;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}
