@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --secondary: #fff;
  --accent: #ed1d24;
  --title-color: #000000;
  --effect-color: #ed1d24;

  --hero: 9.31rem;
  --hero-sm: 7.45rem;
  --title-xl: 5.96rem;
  --title-lg: 4.77rem;
  --title: 3.815rem;
  --fs-xxxxl: 3.052rem;
  --fs-xxxl: 2.441rem;
  --fs-xxl: 1.953rem;
  --fs-xl: 1.563rem;
  --fs-lg: 1.25rem;
  --fs-md: 1rem;
}

/* Marvel theme (default) */
[data-theme='marvel'] {
  --accent: #f00c13;
  --title-color: #1e1e24;
  --secondary: #eff1ed;
  --effect-color: #ed1d24;
  --dot-color: #0f0f11;
  --video-spinner: #ed1d24;
}

/* DC theme */
[data-theme='dc'] {
  --accent: #263f75;
  --secondary: #f6f7ff;
  --title-color: #ffcf0f;
  --effect-color: #ffd100;
  --dot-color: #a7a789;
  --video-spinner: #ffcf0f;
}

/* Sony theme */
[data-theme='sony'] {
  --accent: #1a1a1a;
  --title-color: #65afff; /* Electric blue */
  --effect-color: #823bc2;
  --secondary: #f6fafd;
  --dot-color: #888a8c;
  --video-spinner: #65afff;
}

body {
  margin: 0;
  background-color: var(--primary);
  text-rendering: optimizeLegibility;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}
